<!-- assets/fragments/header.html -->
<div class="topbar">
  <a href="../../pages/app/infosys-dashboard.html" class="logo">
    <img src="../../assets/images/Horizontal-Branco-SemFundo.png" alt="Logo Idealize">
  </a>
  <div class="user-menu" id="user-menu">
    <div class="user-name">
      <img src="../../assets/images/logo_usuario_rosa.png" alt="Usuário" width="28">
      <span id="nome-usuario"><strong>Carregando...</strong></span>
    </div>
    <div class="user-dropdown" id="dropdown">
      <a href="../../pages/app/gerenciar-conta.html">Gerenciar conta</a>
      <a href="#" id="logout">Sair</a>
    </div>
  </div>
</div>